@charset "ISO-8859-1";

/* Start of form formatting */
form {
	display: table;
}

p {
	display: table-row;
}

label {
	display: table-cell;
}

input {
	display: table-cell;
}
/* End of form formatting */

/* Start of button size regulation */
#insertButton {
	margin-bottom: 5px;
	width: 152px;
}

.btn-primary {
  width: 152px;
  margin-bottom: 5px;
}
/* End of button size regulation */

/* Search box and page length regulation*/
div.dataTables_wrapper div.dataTables_filter {
	float: left !important;
}

div.dataTables_wrapper div.dataTables_filter input {
	border: 1px solid #aaa;
	border-radius: 3px;
	padding: 5px;
	background-color: transparent;
	margin-left: 0px;
	margin-bottom: 5px;
	width: 152px;
	float: left !important;
}